@charset "utf-8";

$black1: #0b0b0b;
$black2:#5d5c5c;
$black3: #b0b0b0;

$fs14:14px;
$fs16:16px;
$fs18:18px;

$bgTop:#f9f9f9;
$bgLeft:#ededed;

$navHoverBg:#e7e7e7;
$navActiveBg:#e2e2e2;
$navActiveColor:#d33a31;
body{overflow-x: hidden;}
.amt{
	transition: all 0.3s;
}
.aniwd span:nth-of-type(2) {
  animation-delay: .1s;
}

.aniwd span:nth-of-type(3) {
  animation-delay: .2s;
}

.aniwd span:nth-of-type(4) {
  animation-delay: .3s;
}
.aniwd span {
	display: inline-block;
  color: #061c27;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale .8s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }
  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

.bgon{
	color: #fff;
	overflow: hidden;
	span,div{
		color: #ede9e9;
	}
	
	&::before {
					content: "";
					position: absolute;
					top: -100%;
					left: -100%;
					bottom: -100%;
					right: -100%;
					background: linear-gradient(45deg,  #ff2205 0%, #0900fa 50%, #11b000 100%);
					background-size: 100% 100%;
					animation: bgposition 8s infinite linear alternate;
					z-index: -1;
					opacity: 0.3;
			}
	}

	
	@keyframes bgposition {
		0% {
				transform: translate(30%, 30%);
		}
		25% {
				transform: translate(30%, -30%);
		}
		50% {
				transform: translate(-30%, -30%);
		}
		75% {
				transform: translate(-30%, 30%);
		}
		100% {
				transform: translate(30%, 30%);
		}
}
@mixin list-item {
  
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

@mixin mlist {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content:flex-start;
}

@mixin mlist-tit {
	font-size: $fs14;
	color: $black1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-top: 4px;
}
@mixin txt-over {
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}

@mixin mlist-play {
	font-size: 34px;
	background: rgba(255,255,255,0.7);
	border-radius: 50%;
	width: 34px;
	height: 34px;
	color: $navActiveColor;
	line-height: 34px;
	opacity: 0;
}
@mixin mediaWidth {
	@media screen and (max-width: 1400px) {
		width: 24%;
	} 
	
	@media screen and (max-width: 1000px) { 
		width: 32%;
	}
	
}

::-webkit-scrollbar {
 
  width : 6px; 
  height: 2px;
  }
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius   : 6px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
  );
  }
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #ededed;
  border-radius: 10px;
}